.backdrop {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity var(--transition), visibility var(--transition);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    @media (max-width: 1200px) {
            transform: translate(0, 0) scale(0, 0);
        }
    transform: translate(-50%, -50%) scale(2);
}

.modal {
        @media (max-width: 1200px) {
                position: relative;
        
                margin: 50px auto 0;
                overflow: auto;
        
                max-width: 450px;
                width: 100%;
            }
        
            @include desktop {
                max-width: 528px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
    width: 100%;
    min-height: 580px;
    background-color: var(--white-color);
    transition: transform var(--transition), opacity var(--transition);
    padding: 40px;
}