
.card__set {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    }

.card__set-item {
    width: 100%;
   
    @include tablet {
    flex-basis: calc(100% / 2 - 15px);
    }
    @include desktop {
    flex-basis: calc(100% / 4 - 30px);
    }
}

.card__set-item-client{
    
    width: 100%;


        @media screen and (min-width: 334px) {

    flex-basis: calc((100% - 3 * 15px) / 2)}

       @include tablet {
    flex-basis: calc((100% - 4 * 15px) / 3)
    }
                    
        @include desktop {
    flex-basis: calc((100% - 6 * 25px) / 6)
            }
            }
                     
