.feature-title {
    @media screen and (max-width: 768px) {
    text-align: center;
    }
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}