.portfolio__title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    margin-bottom: 8px;
}

.portfolio__item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: calc(30 / 16);
}

.portfolio__section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__card {
    width: 100%;

@include tablet {
        width: calc((100% - 35px) / 2);
    }

    @include desktop {
        width: calc((100% - 60px) / 3);
   
    
}
}
.portfolio__card-wraper {
    flex-grow: 1;
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
    background: #ffffff;
}

.portfolio__list{
    margin-top: 15px;
        margin-right: 8px;
        &:last-child {
        margin-right: 0;
        }
}

.portfolio__overlay{
    position: absolute;
        left: 0;
        top: 0;
    
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 24px;
    
        overflow: auto;
    
        @media screen and (min-width: 379px) {
            padding: 77px 24px;
            align-items: center;
        }
    
        @include tablet {
            padding: 49px 24px 77px;
        }
    
        @include desktop {
            padding: 63px 24px;
        }
    
        width: 100%;
        height: 100%;
    
        background-color: rgba(33, 150, 243, 0.9);
    
        transform: translateY(101%);
        transition: transform 250ms --transition;
}
    